/* MainPage.css */


body {
    font-family: 'Arial', sans-serif;
    background: #ffffff !important; /* FEHÉR HÁTTÉR */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.main-page {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #333;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    color: #444;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background: #1f5eca;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #1a5dc9;
}

.register-btn {
    margin-top: 10px;
    background: #6612d4;
}

.register-btn:hover {
    background: #520ea2;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 0.5rem;
}

.welcome-message {
    color: #333;
}
